img{
   /* widows: 70px; */

}




.App-logo-small{
display:block;
margin-left:10px;
margin-top: 10px;
margin-bottom: 5px;

}
.App-logo-large{
display:none;
margin-left:10px;
margin-top: 10px;
margin-bottom: 5px;
}

/* handles the small and large logo */
@media(min-width:500px){

    .App-logo-large{
        display:Block;
        
        }
        .App-logo-small{
        display:None;
        }

}
